/************ Propiedades al navbar ****************/ 
.navbar-container, .dropdown-menu {
  box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.69);
}
.navbar {

    display: flex;
    justify-content: space-between;
  }
.navbar-brand {
  margin-right: auto;
} 
.navbar-brand img{
  
  width: 80px;
}
.navbar-nav {
  
    margin-left: 62%;
}
.nav-item{
    margin: 0 10% 0 10%;
}
.nav-link{
  background-image: linear-gradient(to right, #0353ac, #0353ac); /* establecer una imagen de gradiente de color azul */
  background-position: bottom left; /* establecer la posición de la imagen en la parte inferior izquierda del enlace */
  background-repeat: no-repeat; /* evitar que la imagen se repita */
  background-size: 0% 2px; /* establecer el tamaño inicial de la imagen en 0% de ancho y 2 píxeles de altura */
  transition: background-size 0.3s ease-out; /* establecer una transición suave de 0,3 segundos para el cambio de tamaño de la imagen */
  transition-delay: 0.1s; /* agregar un retraso de 0,5 segundos antes de que se inicie la transición */
}
.nav-link-custom:hover {
    transition:  0.3s ease-out; /* establecer una transición suave de 0,3 segundos para el cambio de color del borde inferior */
    transition-delay: 0.1s;
    background-size: 100% 2px; /* cambiar el tamaño de la imagen a 100% de ancho y 2 píxeles de altura cuando se hace hover */
  }
  .dropdown-item:hover{
    background-color: #0353ac2d;
  }
  .dropdown-item-letter{
    color: rgba(0, 0, 0, 0.604);
  }

  /*********************************** MEDIAQUERIES*********************************************************/

  @media (max-width: 992px) {
    .navbar-container {
      box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.69);
    }
    
    .container-fluid{
      background-image: url(image/pexelsfondo2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
    .navbar {
      padding: 0;
      flex-wrap: wrap;
    }
    .navbar-brand {
      margin-right: auto;
    } 
    .navbar-brand img{
      margin-top: 9px;
      margin-bottom: 9px;
      width: 80px;
    }
    .navbar-nav {
      margin-left: 0;
      display: flex;
      flex-direction: column;
    }
    .navbar-nav li {
      margin: 5px 0;
    }

    .nav-item{
      padding-left: 1%;
      padding-right: 1%;
    }
    
    .nav-link{
        background-image: none;

       /* agregar un retraso de 0,5 segundos antes de que se inicie la transición */
      }
    .nav-link-custom:hover {
          
         
        }
    .dropdown-menu{
      
      background-color: rgba(0, 0, 0, 0.192);
    }
    .dropdown-toggle{
      filter: brightness(100);
    }
    .dropdown-toggle:hover{
      filter: brightness(100);
    }
    .dropdown-toggle::after {
      color: white;
    }
    .dropdown-toggle:visited{
      filter: brightness(100);
    }
    .nav-link{
      
      color: rgba(245, 245, 245, 0.753);
    }
    .dropdown-item-letter {
      font-size: 0.9rem;
      
      color: rgba(245, 245, 245, 0.753);
    }
    .dropdown-item-letter:hover{
      color: white;
    }
   
    .nav-link:hover{
      color: white;
    }
    .nav-link:visited{
      color: white;
    }
    .servicios-color{
      color:rgba(245, 245, 245, 0.753); 
    }
    .servicios-color:hover{
      color: white;
    }
    .navbar-toggler{
      width: 20px;
      height: 20px;
      position: relative;
      transition: 0.5 ease-in-out;
    }
    .navbar-toggler,
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon{
      outline: none;
      box-shadow: none;
      border: 0;
    }
    .navbar-toggler span{
      margin: 0;
      padding: 0;
    }
    .toggler-icon{
      display: block;
      position: absolute;
      height: 2px;
      width: 90%;
      background: rgba(245, 245, 245, 0.753);
      border-radius: 1px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }
    .toggler-icon:hover{
      background: white;
    }
    .middle-bar{
      margin-top: 0px;

    }
    .navbar-toggler .top-bar{
      margin-top: 0px;
      transform: rotate(135deg);
    }
    .navbar-toggler .middle-bar{
      opacity: 0;
      filter: alpha(opacity=0);
    }
    .navbar-toggler .bottom-bar{
      margin-top: 0px;
      transform: rotate(-135deg);

    }
  /************** Cuando no esta clickeado *******************/
  .navbar-toggler.collapsed .top-bar{
    margin-top: -16px;
    transform: rotate(0deg);

  }
  .navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
    
  }
  .navbar-toggler.collapsed .bottom-bar{
    margin-top: 16px;
    transform: rotate(0deg);
  }  
}
  @media only screen and (max-width: 992px) {
    #imagen1 {
      display: none;
    }
  }
  @media only screen and (min-width: 993px) {
    #imagen2 {
      display: none;
    }
  }