*{padding: 0;
  scroll-behavior: smooth;
margin: 0;}

.logo{
  width: 100px;
  height: auto;
  padding: 3px;
  
 

}

h1{
  padding: 3%;
  font-size: 3rem;
}

.fuente{
  text-shadow: 1px 3px 4px black;
  font-size: 0.1rem;
}

.box{
  margin: 3%;
  color: rgb(255, 255, 255);
  
}



.logo:hover{
  width:103px;
}

.contenedor{
    
    display: flex;
    width: auto;
    min-height: 100vh;
    background-image: url(image/herocoop.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
    justify-content: center ;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 20%;
}
.contenedor1{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: row;
    padding: ;
    margin: 3%;
    width: 100%;
    height: min-content;
   
}

.contenedor2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: min-content;
}
.texto1, .imagen1, .texto2, .imagen2 {
    padding: 3%;
}
.contenedortitulo1{
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 40%;
    height: auto;
}


h2{
  font-size: 2rem;
}
p{
  padding: 1%;
  font-size: 1rem;
}



.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-right {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }

  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }
  
  @media screen and (max-width: 991px){
    h2{
      font-size: 2rem;
    }
    p{
      font-size: 0.9rem;
    }
        
    }
    .cartas{
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      
    }

    .card1 {
      background-image: url(image/obre.png);
      background-position: center center;
      background-size: cover;
      
      justify-content: center;
      align-items: center;

      padding: 5%;
      margin: 10px;
      width: 20%;
      height: 20%;
      display: inline-block;
      position: relative; /* Agrega la propiedad position con valor relative */
      border-radius: 3%;

    }

    .dropdown-space{
      margin-top: 10px;

    }

    .dropdown-item:hover{
      background-color: rgba(132, 255, 194, 0.24) ;
    }

    .card2 {
      background-image: url(image/obre2.png);
      background-position: center center;
      background-size: cover;
      
    
      padding: 5%;
      margin: 10px;
      width: 20%;
      height: auto;
      display: inline-block;
      position: relative; /* Agrega la propiedad position con valor relative */
    }
    

    .card3 {
      background-image: url(image/obre3.png);
      background-position: center center;
      background-size: cover;
      ;
    
      padding: 5%;
      margin: 10px;
      width: 20%;
      height: auto;
      display: inline-block;
      position: relative; /* Agrega la propiedad position con valor relative */
    }
    
    
    .card img {
      
      max-width: 100%;
      max-height: 100%;
      position: absolute; /* Agrega la propiedad position con valor absolute */
      top: 0; /* Ajusta la posición de la imagen */
      left: 0; /* Ajusta la posición de la imagen */
    }
    
    .card h3,
    .card p {
      position: absolute; /* Agrega la propiedad position con valor absolute */
      z-index: 1; /* Ajusta la propiedad z-index para colocar el texto sobre la imagen */
      width: 100%; /* Ajusta el ancho del texto al ancho de la carta */
      text-align: center; /* Alinea el texto al centro */
    }

    .desaparece{
      display: none;
    }

    